[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vosk = "*"
flask = "*"
wave = "*"
flask-cors = "*"
python-dotenv = "*"
pyjwt = "*"

[dev-packages]
pyflakes = "*"

[requires]
