* {
	box-sizing: border-box;
}

body {
	background-color: #aaa;
}

h1 {
	font-size:  32px;
}

button {
	background-color: #eee;
	border:  none;
	font-size:  24px;
	width:  100px;
	height:  50px;
	margin: 10px;
	flex-shrink: 1;	
}

.next {
	width: 50px;
	height: 50px;
}

.previous {
	width: 50px;
	height: 50px;
}


.page-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sound-clip {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width:  100%;
}

.text-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sen-text {
	font-size: 20px;
	margin:  10px;
}

.listen-audio {
	visibility: hidden;
	position: absolute;
}